# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
.vs/
.vscode/
/Temiang.Avicenna/obj
/Temiang.Avicenna/bin
/Temiang.Avicenna.Bridging.PCare/obj
/Temiang.Avicenna.Bridging.PCare/bin
/Temiang.Avicenna.Bridging.SatuSehat/obj
/Temiang.Avicenna.Bridging.SatuSehat/bin
/Temiang.Avicenna.BusinessObject/obj
/Temiang.Avicenna.BusinessObject/bin
/Temiang.Avicenna.Common/obj
/Temiang.Avicenna.Common/bin
/Temiang.Avicenna.ReportDataSource/obj
/Temiang.Avicenna.ReportDataSource/bin
/Temiang.Avicenna.ReportLibrary/obj
/Temiang.Avicenna.Tests/obj
/Temiang.Avicenna.ReportLibrary/bin
/Temiang.Avicenna.Tests/obj
/Temiang.Avicenna.Tests/bin
/Temiang.Avicenna/obj/Debug/Temiang.Avicenna.csproj.AssemblyReference.cache
/.vs/Temiang.Avicenna/config/applicationhost.config
/.vs/Temiang.Avicenna/v17/fileList.bin
/.vs/Temiang.Avicenna/v17/.suo
/Temiang.Avicenna.Bridging.PCare/obj/Debug/Temiang.Avicenna.Bridging.PCare.csproj.AssemblyReference.cache
/Temiang.Avicenna.Bridging.SatuSehat/obj/Debug/Temiang.Avicenna.Bridging.SatuSehat.csproj.AssemblyReference.cache
/Temiang.Avicenna.BusinessObject/obj/Debug/Temiang.Avicenna.BusinessObject.csproj.AssemblyReference.cache
/Temiang.Avicenna.Common/obj/Debug/Temiang.Avicenna.Common.csproj.AssemblyReference.cache
/Temiang.Avicenna.ReportLibrary/obj/Debug/Temiang.Avicenna.ReportLibrary.csproj.AssemblyReference.cache
/Temiang.Avicenna.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Temiang.Avicenna.Tests/obj/Debug/Temiang.Avicenna.Tests.csproj.AssemblyReference.cache