# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
.vs/
.vscode/
Temiang.Avicenna.Bridging.PCare/obj/Debug/*.cache
Temiang.Avicenna.Bridging.SatuSehat/obj/Debug/*.cache
Temiang.Avicenna.Common/obj/Debug/*.cache
Temiang.Avicenna.ReportLibrary/obj/Debug/*.cache
Temiang.Avicenna/obj/Debug/*.cache