# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
.vs/
.vscode/
Temiang.Avicenna/obj/
Temiang.Avicenna.Bridging.PCare/bin/
Temiang.Avicenna.Bridging.PCare/obj/
Temiang.Avicenna.Bridging.SatuSehat/bin/
Temiang.Avicenna.Bridging.SatuSehat/obj/
Temiang.Avicenna.BusinessObject/bin/
Temiang.Avicenna.BusinessObject/obj/
Temiang.Avicenna.Common/bin/
Temiang.Avicenna.Common/obj/
Temiang.Avicenna.ReportDataSource/bin/
Temiang.Avicenna.ReportDataSource/obj/
Temiang.Avicenna.ReportLibrary/bin/
Temiang.Avicenna.ReportLibrary/obj/
Temiang.Avicenna.ReportLibrary.Custom/bin/
Temiang.Avicenna.ReportLibrary.Custom/obj/